#header-nav {
  background-color: #999999;
  border-radius: 0;
  border: 0;
}
.navbar-brand h1 {
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;	
}
#nav-list a {
  color: black;
  font-size: 1.5em;
}
#nav-list a:hover {
  background: #E7E7E7;
}
.menu-item{
	background: #999999;
	padding :10px;
	margin:10px;
}
.menu-item-title{
	font-size: 1.4em;
	color: black;
	font-weight: bold;
	margin: 0 0 10px;
}
.menu-item-description{
  padding-left:20px;
  padding-bottom: 20px;
  padding-right: 20px;
}
